/*
.keania-one-regular {
  font-family: "Keania One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;  
  font-style: normal;
}
*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #2E2D2D;
}

/* BARRA DE INICIAL */

header{
  background-color: #E23A05;
}

nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo{
  max-width: 68px;
  height: auto;
  margin: 15px;
}

.title{
  font-family:"Keania One", sans-serif;
  font-weight: bold;
  font-size: 60px;
}

/* CORPO DO SITE */

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* CARDS DE CALCULO */

.card{
  background: #D9D9D9;
  margin-top: 35px;
  padding: 0px 0px 15px 0px;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: auto;
  align-items: center;
  justify-content: center;  
}

h2{
  width: 100%;
  background: #E23A05;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-bottom: 5px;
}

input{
  border-radius: 25px;
  padding: 10px;
  margin: 5px;
}

.btn{
  background: #39CE51;
  padding: 10px;
  border-radius: 25px;
  font-family:"Roboto", sans-serif ;
  font-weight: bold;
  cursor: pointer;
  transition: 300ms;
}

.btn:hover{
  background: #a09f9f;
  color: #E23A05;
}

/*MOBILE */


@media (max-width: 530px) {

  .title{   
    font-size: 20px;
  }

  .logo{
    max-width: 50px;
    height: auto;
    margin: 5px;
  }

  .card{    
    max-width: 230px;    
  }
  
  h2{
    font-size: 16px;
  }
  
}